@import
    "base",
    "layout",
    "syntax-highlighting",
    "bootstrap";
*
{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', 'Arial', Helvetica, sans-serif;
  background-image: url(img/fon.jpg);
  background-position: center;
  background-size: cover;

}
.head{
  width: auto;
  height: auto;
  text-align: center;
  font-size: 40px;
  box-shadow: 0 10px 40px 0 rgba(172, 172, 172, 0.432);
  background-color: rgba(255, 255, 255, 0.603);
  line-height: 130%;
  position: sticky;
  backdrop-filter: blur(5 px);
}
.background{
  background-image: url(img/fon.jpg);
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.button{
  display: inline-block;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  transition: 0.35s;
  background-color:rgba(255, 255, 255, 0.767);
  border-radius: 5px;
  margin: 10px;
  transition: 0.35s;

}
.button:hover{
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color:rgba(255, 255, 255);
  transition: color .1s linear;
}
.centerblock
{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.about
{
  font-family: 'Roboto', sans-serif;
  padding: 1% 1% 1% 1%;
  margin: auto;
  color:rgb(0, 0, 0);
  text-align: center;
  font-size: 23px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 5px;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}
.line
{
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  box-shadow: 0 0 3px;
  height: 4px;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.about_text
{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-weight: 550;
}
.elfisting
{
  margin-top: 10px;
  margin-left: 65%;
  width: 40%;
  height: 50px;
}
.description
{
  height: 50%;
  margin-bottom: 10px;
}
img {
  height: auto;
  width: 100%;
  max-width: 400px;
}